* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: 20px;
}

span{
  color: #6D6E71;
}

input {
  border: 1px solid #939598;
  font-size: 20px;
  padding: 0px 8px;
  width: 50%;
}

input::placeholder {
  color: #939598;
}

.form-position {
  display: inline-block;
  height: 40px;
  margin: 10px;
}

#save-button {
  background-color: #00A79D;
  border-color: #00A79D;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 20px;
  width: 50%;
}

#save-button:hover {
  background-color: #045E55;
}

.user-input {
  background-color: #E5F3F2;
  padding: 30px 0px 20px 0px;
  text-align: center;
  width: 100%;
}

.search-bar {
  padding-top: 20px;
  text-align: center;
}
  
  
/*IDEA CARDS*/
article {
  border-bottom: 1px solid #939598;
  left: 25%;
  padding: 20px 0px;
  position: relative;
  width: 50%;
}

h2 {
  color: #6D6E71;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  vertical-align: center;
  width: 80%;
}

div {
  margin-bottom: 10px;
}

p {
  color: #939598;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.greyed-out {
  background-color: lightgrey; 
}

/*SVG BUTTONS*/
.button {
  background-color: white;
  border: none;
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  padding: 0px;
  width: 30px;
}

.delete-button {
  background-image: url('FEE-ideabox-icon-assets/delete.svg');
  position: absolute;
  right: 0px;
  top: 18px;
}

.delete-button:hover {
  background-image: url('FEE-ideabox-icon-assets/delete-hover.svg');
}

.upvote-button {
  background-image: url('FEE-ideabox-icon-assets/upvote.svg');
}

.upvote-button:hover {
  background-image: url('FEE-ideabox-icon-assets/upvote-hover.svg');
} 

.downvote-button {
  background-image: url('FEE-ideabox-icon-assets/downvote.svg');
}

.downvote-button:hover {
  background-image: url('FEE-ideabox-icon-assets/downvote-hover.svg');
}


/*QUALITY OPTION*/
h3 {
  bottom: 9px;
  color: #6D6E71;
  display: inline;
  font-size: 1em;
  position: relative;
}

h3.quality {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

h3.quality-option {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
  article {
    left: 20%;
  }

  article,
  input,
  #save-button {
    width: 60%;
  }
}

@media screen and (max-width: 415px) {
  article {
    left: 7.5%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  article,
  input,
  #save-button {
    width: 85%;
  }

  button {
    margin-right: 7px;
  }
  
  p {
    margin-bottom: 20px;
  }

  h3 {
    line-height: 10px;
  }

}